* {
    box-sizing: border-box;
}

.grid-item1 { grid-area: header; }
.grid-item2 { grid-area: navbar; }
.grid-item3 { grid-area: main; }
.grid-item4 { grid-area: right; }
.grid-item5 { grid-area: footer; }

.grid-container {
    display: grid;
    background-color: aqua;
    grid-template-areas:
    'header header header header header header'
    'navbar main main main right right'
    'navbar footer footer footer footer footer';
 
    gap: 10px;
        
}
.grid-container >div {
    background-color: rgba(40, 19, 163, 0.5);
    text-align: center;
    padding: 20px 0;

}





